@media(max-width: 1080px) {
    .cabebalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 730px) {
    .cabecalho .menu ul {
        text-align: center;
        gap: 7px;
    }
}

@media (max-width: 712px) {
    .cabecalho .menu ul {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .home .cartao {
        max-width: 320px;
    }

}

@media (max-width: 440px) {
    .home {
        display: flex;
        align-content: center;
    }
    
    .home .cartao {
        max-width: 320px;
    }

}

@media (max-width: 425px) {
    .home {
        display: flex;
        align-content: center;
    }

    .home .cartao {
        max-width: 320px;
    }
}