@media(max-width: 1280px) {
    .cabebalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 835px) {
    .home {
        margin: 15px;
        padding: 15px;
    }
}

@media (max-width: 730px) {
    .cabecalho .menu ul {
        flex-direction: column;
        text-align: center;
        gap: 7px;
    }
    
    .home {
        margin: 15px;
        padding: 15px;
    }
}

@media (max-width: 680px) {
    .cabecalho .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .home {
        margin: 15px;
        padding: 15px;
    }

    .btn-download {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 485px) {
    .btn-download {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .cabecalho .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .home {
        margin: 15px;
        padding: 15px;
    }
}