@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(11,7,7,1) 29%, rgba(9,51,60,1) 100%, rgb(0, 212, 255) 100%);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 45px;
}

.cabecalho .logo {
    width: 70px;
    height: 61px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

.cabecalho .menu ul {
    display: flex;
    justify-content: space-between;
}

.cabecalho a h1 img {
    width: 100%;
    border-radius: 50%;
}

.cabecalho a:hover .logo {
    color: #00d4ff;
    border: 2px solid #00d4ff;
}

.menu a {
    color: #fff;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #00d4ff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.home {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 125px);
    justify-content: space-between;
    padding: 70px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

.home .informacoes {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 100%;
}

.home .informacoes h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .informacoes p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.home .redes-sociais ul {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 15px;
}

.home .redes-sociais a i {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
}

.home .redes-sociais a i:hover {
    color: #00d4ff;
    border: 1px solid #00d4ff;
    transform: scale(1.1);
}

.home .foto-perfil img {
    width: 200em;
    border-radius: 50%;
}